 
*{
    box-sizing:border-box;
    
    list-style: none;
    padding: 0;
    
}  



.datos_pers{
background: rgba(248,80,50,1);
background: -moz-linear-gradient(left, rgba(248,80,50,1) 0%, rgba(248,80,50,1) 58%, rgba(231,56,39,1) 89%, rgba(231,56,39,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(248,80,50,1)), color-stop(58%, rgba(248,80,50,1)), color-stop(89%, rgba(231,56,39,1)), color-stop(100%, rgba(231,56,39,1)));
background: -webkit-linear-gradient(left, rgba(248,80,50,1) 0%, rgba(248,80,50,1) 58%, rgba(231,56,39,1) 89%, rgba(231,56,39,1) 100%);
background: -o-linear-gradient(left, rgba(248,80,50,1) 0%, rgba(248,80,50,1) 58%, rgba(231,56,39,1) 89%, rgba(231,56,39,1) 100%);
background: -ms-linear-gradient(left, rgba(248,80,50,1) 0%, rgba(248,80,50,1) 58%, rgba(231,56,39,1) 89%, rgba(231,56,39,1) 100%);
background: linear-gradient(to right, rgba(248,80,50,1) 0%, rgba(248,80,50,1) 58%, rgba(231,56,39,1) 89%, rgba(231,56,39,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827', GradientType=1 );

    
}
.contenido{
  
   
}
.sobre_mi{
    background: white;
    border-radius: 10px;
  
}
.imgcara{
    border-radius: 30px;
       
}

/*Main*/


.main{
    background: yellow;
 
    
}

/*
.contenedor_Prin{
   background: blue;
    height: 100vh;
    flex-wrap: wrap;
  
}
.txt{
    text-align: center;
    position: relative;
}
.forma_acade_prin{
    position: relative;
    top: 350px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}

.ul1{
    position: relative;
    background: red;
    margin: 20px; 
    max-width: 500px;
    height: 150px;
    border-radius: 5px;
    padding: 10px
}

.ul2{
    position: relative;
    background: red;
    margin: 20px; 
    max-width: 500px;
    height: 250px;
    border-radius: 5px;
     padding: 10px
}
/*formacion academica
.otros_estu{
  position: relative;
   
    
}

/*habilidades y certificados



.habi,.certi{
     position: relative;
    top: 100px;
    height: 300px
}




.ContenedorSecu{
    background: green;
     display: flex;
    flex-wrap: wrap;
    justify-content: center
}